priv/xsi_type/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="urn:erlsom/xsi_type/base" elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:erlsom/xsi_type/base">
    <xsd:element name="data" type="tns:BaseType"/>
    <xsd:complexType name="BaseType">
        <xsd:sequence>
            <xsd:element name="base_info" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
